/* -------------------------- COMMON ---------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

*{
    font-family: 'Exo 2', sans-serif;
}

/* ---------------- CART VIEW ---------------- */

.totalPrice{
    font-size: 30px;
}

/* ---------------- NAVBAR ---------------- */

.navbar{
    background-color: #AEDCC0;
    height: 150px;
    text-decoration: none;
}


.navbar-brand img{
    width: 150px;
}


.cartWidget{
    margin-right: 30px;
    margin-left: 15px;
    font-size: 50px;
    color: #343E3D;
    display: flex;
    gap: 3px;
}

.cartWidget span {
    font-size: 25px;
    background-color: rgb(110, 190, 110);
    color: whitesmoke;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
}

.widget{
    text-decoration: none;
}

/* ---------------- FOOTER ---------------- */

footer{
    background-color: #607466;
    height: 235px;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    padding: 20px;
    color: white;
}

.iconContainer{
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 20px;
    
}

.iconFooter{
    font-size: 50px;
    color: #AEDCC0;
}

.iconFooter:hover{
    color: rgb(103, 194, 103);
}

/* ------------------------------------------------------- */


/* ------------------------------- HOME ---------------------------------- */

.home{
    height: auto;
    background-image: radial-gradient(rgb(102, 153, 113), rgb(210, 228, 220));
    
    

}

.promoList{
    background-image: radial-gradient(rgb(102, 153, 113), rgb(210, 228, 220));
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    gap: 40px;
    min-height: 80vh;
    
}

.promoCard{
    background-image: linear-gradient(to bottom, rgb(100, 150, 126), rgb(113, 175, 113));
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 250px;
    height: 400px;
}

.promoCard img{
    width: 150px;
    max-height: 180px;
}

.promoDetail{
    background-image: linear-gradient(to right, rgb(187, 212, 202), rgb(59, 182, 131)); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.promoDetailCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 900px;
    height: 500px;
    padding: 30px;
}

.promoDetailCard img{
    width: 200px;
}

.detailBtn{
    text-decoration: none;
    background-color: rgb(122, 185, 122);
    border-radius: 20px;
    width: 150px;
}

.detailBtn:hover{
    background-color: rgb(87, 126, 87);
}

.detailLink{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.detailLink:hover{
    color: black;
}


/* ------------ ITEM COUNT / ADD TO CART BTN ------------ */

.buttonContainer{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.controls{
    background-color: rgb(99, 192, 99);
    border: none;
    border-radius: 9px;
}

.controls:hover{
    background-color: rgb(63, 119, 63);
    
}

.agregarAlCarrito{
    width: 50px;
    height: 40px;
    background-color: rgb(99, 192, 99);
    border: none;
    border-radius: 8px;
}

.agregarAlCarrito:hover{
    background-color: rgb(63, 119, 63);
}

.agregarAlCarrito:active{
    background-image: linear-gradient(to bottom, transparent, rgb(24, 87, 24))
}

.iconifyAdd{
    font-size: 20px;
}

/* ------------ CART ------------ */

.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 50px;
    min-height: 500px;
    
}

.emptyCart{
    width: 200px;
    margin-right: 35px;
}

.itemCart{
    display: flex;
    height: 100px;
    width: 1000px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    padding: 80px 3px 80px 3px;
    
    background-image: linear-gradient(to bottom, rgb(167, 187, 167), #607466)
    
}

.itemCart p{
    margin-top: 15px;
}

.itemCart img{
    width: 100px;
}

.greenBtn{
    border-radius: 20px;
    background-color:rgb(83, 153, 83);
    height: 50px;
    padding: 30px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.greenBtn:hover{
    background-color: rgb(73, 122, 73);
    color: whitesmoke;
}


.greenBtn:focus{
    background: linear-gradient(to bottom, rgb(90, 194, 116), rgb(61, 129, 61));
    color: black;
}

/* ------------ CHECKOUT FORM ------------ */

.formCheckout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 500px;
    width: 350px;
}

.formInput{
    color: whitesmoke;
    border: none;
    border-bottom: solid 3px rgb(26, 75, 46);
    background: transparent;
    margin: 20px;
    height: 50px;
    
}

.formInput::placeholder{
    color: whitesmoke;
}

.formInput:focus{
    background: linear-gradient(to bottom, transparent, rgb(90, 194, 116));
    outline: none;
    color: rgb(0, 0, 0);
}

.formBtn{
    border-radius: 20px;
    background-color:rgb(83, 153, 83);
    height: 50px;
    color: whitesmoke;
}

.formBtn:hover{
    background-color: rgb(68, 105, 68);
}

.formBtn:focus{
    background: linear-gradient(to bottom, transparent, rgb(68, 105, 68));
}

.finished{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.finished img{
    width: 500px;
}

.thx{
    font-size: 25px;
}

.code{
    margin-top: 25px;
}


/* ------------------------ NOSOTROS DESKTOP ------------------------ */

.nosotros{
    display: flex;
    flex-direction: column;
    
}

.bosqueviejo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    border-bottom: solid 30px rgb(33, 70, 82);
    padding: 30px;
    background-color: rgb(118, 185, 152);
    text-align: center;
}

.bosqueviejo img{
    width: 400px;
}

.metodosDePago{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(78, 131, 111), rgb(129, 151, 199));
    padding: 40px;
}

.metodosDePago img{
    width: 200px;
}


/* --------------------------------------------------------------------------------- */


/* ------------------------ MOBILE RESPONSIVE ------------------------ */
@media screen and (min-width: 0px) and (max-width: 450px){

    .navbar{
        height: auto;
        justify-content: center;
    }

    .cartWidget{
        margin: 0 auto;
        margin-top: 15px;
    }


    .home{
        height: auto;
    }

    .promoList{
        flex-direction: column;
        margin: 25px;
        gap: 25px;
        align-items: center;
        height: auto;
        background: none;
    }

    .promoCard h4{
        font-size: 20px;
    }
    
    .footerText{
        text-align: center;
    }

    .cartWidget{
        margin: 0 auto;
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    
    .cartWidget span{
        height: 45px;
        position: relative;
        top: 8px;
    }

    
    
    .promoDetailCard img{
        width: 140px;
    }

    footer{
        font-size: 30px;
    }

    

/* ------------ CART MOBILE ------------ */

    .cart{
        gap: 30px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .itemCart{
        display: flex;
        flex-direction: column;
        height: 75vh;
        width: 50vh;
        margin: 30px;
    }


/* ------------ CHECKOUT ------------ */
    .formCheckout{
        height: auto
    }

    .thx{
        font-size: 23px;
    }

    .finished img{
        width: 300px;
    }


/* ------------------------ NOSOTROS MOBILE ------------------------ */

    .bosqueviejo{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .metodosDePago{
    text-align: center;
    }

}



/* ------------------------ TABLET RESPONSIVE ------------------------ */
@media screen and (min-width: 451px) and (max-width: 1024px){

.home{
    height: auto;
}

.navbar{
    height: auto;
    justify-content: center;
}

.promoDetail{
    height: 100vh;
    font-size: 20px;
    display: flex;
    align-items: space-around;
}

.buttonContainer{
    margin-top: 25px;
}

.cartWidget{
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.cartWidget span{
    height: 45px;
    position: relative;
    top: 8px;
}

.promoDetailCard img{
    width: 140px;
}

footer{
    font-size: 30px;
}



/* ------------ CART ------------ */

    .cart{
        gap: 30px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .itemCart{
        display: flex;
        flex-direction: column;
        height: 75vh;
        width: 50vh;
        margin: 30px;
    }

    .itemCart img{
        width: 200px;
    }

/* ------------ CHECKOUT ------------ */

    .formCheckout{
        height: auto
    }

}


