.navbar{
    background-color: #AEDCC0;
    height: 150px;
}


.navbar-brand img{
    width: 150px;
}


.cartWidget{
    margin-right: 30px;
    margin-left: 15px;
    font-size: 50px;
    color: #343E3D
}

.promos{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.promoCard{
    background-color: #7BD389;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 250px;
    height: 400px;
}

.promoCard img{
    width: 170px;
}




