/* -------------------------- COMMON ---------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

*{
    font-family: 'Exo 2', sans-serif;
}

/* ---------------- NAVBAR ---------------- */

.navbar{
    background-color: #AEDCC0;
    height: 150px;
}


.navbar-brand img{
    width: 150px;
}


.cartWidget{
    margin-right: 30px;
    margin-left: 15px;
    font-size: 50px;
    color: #343E3D
}

/* ---------------- FOOTER ---------------- */

footer{
    background-color: #607466;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    padding: 20px;
    color: white;
    
}

.iconContainer{
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 20px;
    
}

.iconFooter{
    font-size: 50px;
    color: #AEDCC0;
}

.iconFooter:hover{
    color: rgb(103, 194, 103);
}

/* ------------------------------------------------------- */


/* ------------------------------- HOME ---------------------------------- */

.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.promoList{
    background-image: linear-gradient(to right, rgb(99, 187, 150), rgb(20, 153, 98)); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.promoCard{
    background-image: linear-gradient(to bottom, rgb(100, 150, 126), rgb(113, 175, 113));
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 250px;
    height: 400px;
}

.promoCard img{
    width: 170px;
}

.promoDetail{
    background-image: linear-gradient(to right, rgb(187, 212, 202), rgb(59, 182, 131)); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.promoDetailCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 900px;
    height: 500px;
}

.promoDetailCard img{
    width: 200px;
}

/* ------------ ITEM COUNT / ADD TO CART BTN ------------ */

.buttonContainer{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.controls{
    background-color: rgb(99, 192, 99);
    border: none;
    border-radius: 9px;
}

.controls:hover{
    background-color: rgb(63, 119, 63);
    
}

.agregarAlCarrito{
    width: 50px;
    height: 40px;
    background-color: rgb(99, 192, 99);
    border: none;
    border-radius: 8px;
}

.agregarAlCarrito:hover{
    background-color: rgb(63, 119, 63);
}

.agregarAlCarrito:active{
    background-image: linear-gradient(to bottom, transparent, rgb(24, 87, 24))
}

.iconifyAdd{
    font-size: 20px;
}

/* --------------------------------------------------------------------------------- */


/* ------------------------ MOBILE RESPONSIVE ------------------------ */
@media screen and (min-width: 0px) and (max-width: 450px){

    .navbar{
        height: auto;
    }

    .cartWidget{
        margin: 0 auto;
        margin-top: 15px;
    }


    .home{
        background-image: linear-gradient(to bottom, rgb(117, 172, 117), rgb(59, 87, 59));
        height: auto;
    }

    .promoList{
        flex-direction: column;
        margin: 25px;
        gap: 25px;
        align-items: center;
        height: auto;
        background: none;
    }
    
    .footerText{
        text-align: center;
    }



}



/* ------------------------ TABLET RESPONSIVE ------------------------ */
@media screen and (min-width: 451px) and (max-width: 1024px){






}


